a{
  margin: 5px;
}
.nav mat-tab-nav-bar {
  margin-bottom: 48px;
  margin-left: 50px;
  margin-top: 50px;
}
button{

  background-color: rgba(227, 230, 246, 0.35);
  color: #060707;
  margin-left: 2px;
  margin-top: 20px;
}#frst{
   margin-left: 50px;
 }

