<div id="outer">
  <div id="inner">
    <mat-card style="margin-top: 10px">
      <mat-card-content>
        <h1>Your child's characteristics will be shown here by class teacher in-charge</h1></mat-card-content>
    </mat-card>
    <div xmlns="http://www.w3.org/1999/html">
      <table id="table" class="mat-elevation-z8" mat-table matSort [dataSource]="dataSource">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="">Child ID</th>
          <td mat-cell *matCellDef="let row">{{row.id}}</td>
        </ng-container>

        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="">Child Name</th>
          <td mat-cell *matCellDef="let row">{{row.username}}</td>
        </ng-container>

        <ng-container matColumnDef="teacherComment">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="">Teacher comments</th>
          <td mat-cell *matCellDef="let row">{{row.teacherComment}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
        <tr mat-row *matRowDef="let row; columns:displayedColumn"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5,10,25,100]"
                     aria-label="Select page of users">
      </mat-paginator>
    </div>
  </div>
</div>
