<div id="headDiv">
  <h1 id="header">Inventory Management System</h1>
  <div id="mainDiv">
    <mat-card class="mat-elevation-z24">
      <!--    <mat-card-header>-->
      <!--      <div mat-card-avatar class="example-header-image"></div>-->
      <!--      <mat-card-title>Shiba Inu</mat-card-title>-->
      <!--      <mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
      <!--    </mat-card-header>-->
      <img style="margin-top: 115px" mat-card-image src="assets/5031659.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
        </p>
      </mat-card-content>
      <mat-card-actions class="mat-elevation-z5" style="background-color: rgba(143,154,206,0.21)">
        <h4 style="margin-left: 10px">Already have an account?</h4>
        <button class="mat-elevation-z5" color="" mat-raised-button routerLink="/login" mat-button>Login</button>
      </mat-card-actions>
    </mat-card>


    <mat-card class="mat-elevation-z24">
      <img mat-card-image src="assets/5490520.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
        </p>
      </mat-card-content>
      <mat-card-actions class="mat-elevation-z5" style="background-color: #f3e7e7">
        <h4 style="margin-left: 10px">New user?</h4>
        <button class="mat-elevation-z5" color="" mat-raised-button routerLink="auth/register" mat-button>Register</button>
      </mat-card-actions>
    </mat-card>


  </div>
</div>



